<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">
      <div class="jumbotron text-center">
        <h1>Edit Article</h1>
        <p>This is to demonstrate how rails works</p>
      </div>

      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path%></li>
          <li><%= link_to 'About', about_path%></li>
          <li><%= link_to 'Articles', articles_path%></li>
        </ul>
      </nav>

      <% if @article.errors.any? %>
      <div class="alert alert-warning">
        <h3>The following errors prevented the article from being saved</h3>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_for @article do |f| %>
        <p>
          <%= f.label :title %><br/>
          <%= f.text_field :title %>
        </p>

        <p>
          <%= f.label :description %><br/>
          <%= f.text_area :description %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>

      <div class="btn btn-default">
        <%= link_to "Back", articles_path, :class => "btn-small" %>
      </div>

    </div>

  </body>

</html
