<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">
      <div class="jumbotron text-center">
        <h1>Articles</h1>
        <p>This is to demonstrate how rails works</p>
      </div>
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Articles', articles_path %></li>
        </ul>
      </nav>

      <div class="btn btn-default">
        <%= link_to "Create Article", new_article_path, :class => "btn-small" %>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Links</th>
          </tr>
        </thead>
        <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td>
              <div class="btn btn-default">
                <%= link_to "Edit", edit_article_path(article), :class => "btn-small" %>
              </div>
              <div class="btn btn-default">
                <%= link_to "Show", article_path(article), :class => "btn-small" %>
              </div>
            </td>
        </tr>
        <% end %>
      </table>

    </div>

  </body>

</html
