<div class="container">
  <div class="jumbotron text-center">
    <h1>Showing Selected Article</h1>
    <p>This is to demonstrate how rails works</p>
  </div>

  <%= render 'layouts/nav' %>

  <%= render 'layouts/messages' %>

  <div class="container">
    <p><b>Title:</b> <%= @article.title %></p>
    <p><b>Description:</b> <%= @article.description %></p>
  </div>

  <div class="btn btn-default">
    <%= link_to "Back", articles_path, :class => "btn-small" %>
  </div>
  <div class="btn btn-default">
    <%= link_to "Edit", edit_article_path(@article), :class => "btn-small" %>
  </div>
  <div class="btn btn-default">
    <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn-small" %>
  </div>

</div>
