<h1><%= @article.title %></h1>
<hr>

<%= render 'layouts/messages' %>

<div class="container">
  <p><b>Title:</b> <%= @article.title %></p>
  <p><b>Description:</b> <%= @article.description %></p>
</div>

<%= link_to "Back", articles_path, :class => "btn btn-default" %>
<%= link_to "Edit", edit_article_path(@article), :class => "btn btn-default" %>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-default" %>
